{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Member of these games:</th>
                <td>
                    <table>
                        {% for member in user.members %}
                        <tr>
                            <td>
                                {{ member.game.name}}
                            </td>
                            <td>
                                ( {{member.position}} )
                            </td>
                        </td>
                        {% endfor %}
                    </table>
                </td>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
