{% extends 'base.html.twig' %}

{% block body %}
    <h1>Character creation</h1>
    <div class="container col-lg-6">
        <p>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="button btn-primary btn-block" type="submit" value="Create" />
        {{ form_end(form) }}
        </p>
        <p>
            <a href="{{ path('character_index') }}">Back to the list</a>
        </p>
    </div>
{% endblock %}
